:root {
   --bg: #ffffff;
   --bg-darker: #f2f2f2;
   --primary: #0065fc;
   --primary-lighter: #deebff;
}

/** background colors */
.bg {
   background-color: var(--bg);
}

.bg-darker {
   background-color: var(--bg-darker);
}

.bg-primary {
   background-color: var(--primary);
}

.bg-primary-lighter {
   background-color: var(--primary-lighter);
}

.bg-unset {
   background-color: unset;
}

@media screen and (min-width: 42em) {
   .md\:bg-unset {
      background-color: unset;
   }

   .md\:bg-darker {
      background-color: var(--bg-darker);
   }
}

/** color */
.color-bg {
   color: var(--bg);
}

.color-bg-darker {
   color: var(--bg-darker);
}

.color-primary {
   color: var(--primary);
}

.color-primary-lighter {
   color: var(--primary-lighter);
}
