:root {
   --bg: #ffffff;
   --bg-darker: #f2f2f2;
   --primary: #0065fc;
   --primary-lighter: #deebff;

   --checked: hsl(177, 100%, 23%);
   --hovered: hsl(216, 50%, 50%);

   --text: hsl(240, 2%, 9%);
}

:root[data-theme='dark'] {
   --bg: hsl(240, 2%, 9%);
   --bg-darker: hsl(0, 0%, 27%);
   --primary: hsl(216, 100%, 49%);
   --primary-lighter: hsl(216, 50%, 20%);

   --checked: hsl(177, 100%, 23%);
   --hovered: hsl(216, 50%, 50%);

   --text: #ffffff;
}

/** background colors */
.bg {
   background-color: var(--bg);
}

.bg-darker {
   background-color: var(--bg-darker);
}

.bg-primary {
   background-color: var(--primary);
}

.bg-primary-lighter {
   background-color: var(--primary-lighter);
}

.bg-unset {
   background-color: unset;
}

@media screen and (min-width: 768px) {
   .md\:bg-unset {
      background-color: unset;
   }

   .md\:bg-darker {
      background-color: var(--bg-darker);
   }
}

/** color */
.color-bg {
   color: var(--bg);
}

.color-bg-darker {
   color: var(--bg-darker);
}

.color-primary {
   color: var(--primary);
}

.color-primary-lighter {
   color: var(--primary-lighter);
}
