:root {
   --font-black: 'wght' 850;
   --font-bold: 'wght' 750;
   --font-medium: 'wght' 450;

   --font-14: 0.875rem;
   --font-16: 1rem;
   --font-18: 1.125rem;
   --font-20: 1.25rem;
   --font-22: 1.375rem;
}

/**
 *
 * Set font
 *
 */
@font-face {
   font-family: 'Railway';
   src: url('../../assets/fonts/Raleway-VariableFont_wght.ttf')
      format('truetype-variations');
}

/**
 *
 * Global
 *
 */
body {
   font-family: 'Railway';
   text-rendering: optimizeSpeed;
   line-height: 1.5;
   font-variation-settings: var(--font-medium);
   color: var(--color-text);
}

h1,
h2,
h3 {
   line-height: 1.1;
}

h1 {
   font-variation-settings: var(--font-bold);
   font-size: var(--font-20);
}

h2 {
   font-variation-settings: var(--font-bold);
   font-size: var(--font-18);
}

h3 {
   font-variation-settings: var(--font-bold);
   font-size: var(--font-16);
}

h4 {
   font-variation-settings: var(--font-bold);
   font-size: var(--font-14);
}

/*=============================================
=            utilities                        =
=============================================*/
