.wrapper {
   --max-width: 100%;
   max-width: var(--max-width, 100%);

   padding-inline-start: var(--flow-gap, 1.5rem);
   padding-inline-end: var(--flow-gap, 1.5rem);

   margin-inline-start: auto;
   margin-inline-end: auto;
}

@media screen and (min-width: 768px) {
   .wrapper {
      --max-width: 80%;
   }
}
