.cta {
   border: none;
   border-radius: var(--radius-10);
   padding: 0 1rem;
}

.cta__content {
   display: none;
   visibility: hidden;
}

@media screen and (min-width: 768px) {
   .cta {
      border-radius: 0 var(--radius-10) var(--radius-10) 0;
   }

   .cta__content {
      display: block;
      visibility: visible;
   }

   .cta__icon {
      display: none;
      visibility: hidden;
   }
}
