.filters {
   display: flex;
   flex-wrap: wrap;
   gap: var(--flow-gap, 1.5rem);
   align-items: center;
}

.filters input {
   visibility: hidden;
   display: none;
}

.filters .label {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: [logo-start]2rem [content-start]min-content;
   grid-template-rows: 3rem;
   column-gap: var(--flow-gap, 1.5rem);
   place-items: center;

   border: 2px solid var(--bg-darker);
   border-radius: 3rem;
}

.filters .logo {
   display: grid;
   place-items: center;

   width: calc(3rem + 3px);
   height: calc(3rem + 3px);
   border-radius: 50%;

   transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.filters .content {
   display: grid;
   place-items: center;

   white-space: nowrap;
   padding-inline-end: var(--flow-gap, 1.5rem);
}

/* Hover State */
.filters .label:hover .logo {
   background-color: var(--primary);
   color: var(--primary-lighter);
}

.filters .label:hover .logo > i {
   animation: wobble 200ms linear;
}

.filters .label:hover {
   cursor: pointer;
}
