.filters {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: var(--flow-gap, 1.5rem);
   align-items: flex-start;
}

.filters .label > input[type='checkbox'],
.filters .label > input {
   appearance: none;
   background-color: unset;
   border: none;
   opacity: 0;

   position: absolute;
   width: 100%;
   height: 100%;
}

.filters .logo {
   display: grid;
   place-items: center;

   width: calc(3rem + 3px);
   height: calc(3rem + 3px);
   border-radius: 50%;

   transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.filters .content {
   display: grid;
   place-items: center;

   white-space: nowrap;
   padding-right: var(--flow-gap, 1.5rem);
}

/* Hover State */
.filters .label:hover .logo,
.filters .label > input:focus ~ .logo {
   background-color: var(--primary);
   color: var(--primary-lighter);
   outline: 2px dotted var(--primary);
   outline-offset: 0.25rem;
}

.filters .label:hover .logo > i,
.filters .label input:focus ~ .logo > i {
   animation: wobble 200ms linear;
}

.filters .label:hover {
   cursor: pointer;
}

@media screen and (min-width: 576px) {
   .filters {
      flex-direction: row;
      align-items: center;
   }
}

.filters .label {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: [logo-start]2rem [content-start]min-content;
   grid-template-rows: 3rem;
   column-gap: var(--flow-gap, 1.5rem);
   place-items: center;

   border: 2px solid var(--bg-darker);
   border-radius: 3rem;

   position: relative;
}

/* Cheched State */
.filters input[type='checkbox']:checked ~ .logo {
   background-color: var(--checked);
   color: var(--bg);
}
