.hebergements__inner {
   display: flex;
   flex-direction: column-reverse;
   gap: var(--gap-wrapper, 1.5rem);
}

.hebergements__main,
.hebergements__famous {
   flex: 1;
   padding: var(--gap-flow) var(--gap-wrapper);
}

.hebergements__main button {
   place-self: center start;
   transition: color 200ms linear;
}

.hebergements__main button:hover {
   color: var(--color-primary);
   cursor: pointer;
}

.hebergements__famous {
   background-color: var(--color-grey);
}

.hebergements__famous h2 {
   display: flex;
   justify-content: space-between;
}

@media screen and (min-width: 768px) {
   .hebergements__main,
   .hebergements__famous {
      background-color: var(--color-grey);
   }
}

@media screen and (min-width: 1200px) {
   .hebergements__inner {
      flex-direction: row;
   }

   .hebergements__main {
      flex: 1;
   }

   .hebergements__famous {
      flex: 0.5;
   }
}
