.hebergements {
   transition: background-color 1s ease-in;
}

.hebergements .inner {
   display: flex;
   flex-direction: column-reverse;
   gap: var(--flow-gap, 1.5rem);
}

.hebergements .main,
.hebergements .famous {
   flex: 1;
   padding: var(--flow-gap, 1.5rem) 0;

   display: grid;
   grid-template-rows: min-content 1fr minmax(1.5rem, 3rem);
   gap: var(--flow-gap, 1.5rem);
}

.hebergements .main .btn {
   place-self: center start;
}

.hebergements .famous .title {
   display: flex;
   justify-content: space-between;
}

@media screen and (min-width: 768px) {
   .hebergements .main,
   .hebergements .famous {
      padding: var(--flow-gap, 1.5rem);
   }
}

@media screen and (min-width: 1200px) {
   .hebergements .inner {
      flex-direction: row;
   }

   .hebergements .main {
      flex: 1;
   }

   .hebergements .famous {
      flex: 0.5;
   }
}
