.hebergements {
   transition: background-color 1s ease-in;
}

.hebergements .inner {
   display: flex;
   flex-direction: column-reverse;
   gap: var(--gap-wrapper, 1.5rem);
}

.hebergements .main,
.hebergements .famous {
   flex: 1;

   color: var(--text);
   padding: var(--gap-flow) var(--gap-wrapper);
}

.hebergements .famous {
   background-color: var(--color-grey);
}

.hebergements .main .btn {
   place-self: center start;
   transition: color 200ms linear;
}

.hebergements .main .btn:hover {
   color: var(--primary);
}

.hebergements .famous .title {
   display: flex;
   justify-content: space-between;
}

@media screen and (min-width: 768px) {
   .hebergements .main,
   .hebergements .famous {
      background-color: var(--color-grey);
   }
}

@media screen and (min-width: 1200px) {
   .hebergements .inner {
      flex-direction: row;
   }

   .hebergements .main {
      flex: 1;
   }

   .hebergements .famous {
      flex: 0.5;
   }
}
