/**
 *
 * Colors stars
 *
 */

.rate[data-rate='4'] > :last-child {
   color: var(--color-grey);
}

.rate[data-rate='3'] > :nth-last-of-type(-n + 2) {
   color: var(--color-grey);
}

.rate[data-rate='2'] > :nth-last-of-type(-n + 3) {
   color: var(--color-grey);
}

.rate[data-rate='1'] > :first-child {
   color: var(--color-grey);
}

/**
 *
 * Delay animation
 *
 */
.rate > i {
   --delay: 0ms;
}

.rate > i:nth-child(2) {
   --delay: 100ms;
}

.rate > i:nth-child(3) {
   --delay: 200ms;
}

.rate > i:nth-child(4) {
   --delay: 300ms;
}

.rate > i:nth-child(5) {
   --delay: 400ms;
}
