.search .heading {
   display: grid;
   gap: 0.75rem;
}

/** Form */
.search .form {
   --radius: 0.6rem;

   display: grid;
   grid-auto-flow: column;
   grid-template-columns: [logo]3rem [input]1fr [btn]min-content;
   grid-template-rows: 3rem;
}

.search .form > .logo {
   grid-column: logo / 2;
   grid-row: 1;

   display: inline-grid;
   place-items: center;

   border-radius: var(--radius) 0 0 var(--radius);
}

.search .form > input {
   grid-column: input / -1;
   grid-row: 1;

   border: 1px solid var(--color-grey);
   padding-left: 1rem;
   border-radius: 0 var(--radius) var(--radius) 0;
}

.search .form > input::placeholder {
   color: var(--color-balck);
}

.search .form > .btn {
   grid-column: btn / -1;
   grid-row: 1;
   padding: 0 1rem 0 1rem;

   border: none;
   border-radius: var(--radius);
}

.search .form > .btn .content {
   display: none;
   visibility: hidden;
}

@media screen and (min-width: 42em) {
   .search .form {
      grid-template-columns: [logo]3rem [input]18.75rem [btn]min-content;
   }

   .search .form > .btn {
      border: none;
      border-radius: 0 var(--radius) var(--radius) 0;
      transform: translateX(0%);
   }

   .search .form > .btn .content {
      display: block;
      visibility: visible;
   }

   .search .form > .btn .icon {
      display: none;
      visibility: hidden;
   }
}

/** Info */
.search .info {
   display: flex;
   align-items: center;
   gap: var(--flow-gap, 1.5rem);
}

.search .info > .logo {
   display: grid;
   place-items: center;

   width: 2rem;
   height: 2rem;
   border: 1px solid var(--bg-darker);
   border-radius: 50%;
}

/* Hover State */
.search .form .btn:hover {
   color: var(--text);
}
