/*=============================================
=                Header                       =
=============================================*/

.site-header {
   --padding-block: var(--flow-gap);

   position: sticky;
   top: 0;
   z-index: 1;
   width: 100%;

   padding-top: var(--padding-block);
}

/**
 *
 * desktop
 *
 */
@media screen and (min-width: 768px) {
   .site-header {
      --padding-block: 0;
   }
}

/*=============================================
=                   inner                     =
=============================================*/

.site-header__inner {
   --fix-row: 6.25rem;

   display: grid;
   grid-template-columns: [logo]0.5fr [nav]1fr [sign]0.5fr;
   grid-template-rows: 1fr var(--fix-row);
}

/**
 *
 * desktop
 *
 */
@media screen and (min-width: 768px) {
   .site-header__inner {
      display: grid;
      grid-template-columns: [logo]max-content [empty]2fr [nav]1fr [sign]min-content;
      grid-template-rows: var(--fix-row);
      gap: var(--flow-gap);
   }
}

/*=============================================
=                    logo                     =
=============================================*/

.site-header__logo {
   grid-column: logo;
   grid-row: 1;

   place-self: center start;
   padding-left: var(--padding);
}

.site-header__logo img {
   object-fit: contain;
}

/**
 *
 * desktop
 *
 */
@media screen and (min-width: 768px) {
   .site-header__logo {
      --padding: 0;
   }
}

/*=============================================
=                    nav                      =
=============================================*/

.site-header__nav {
   grid-row: 2;
   grid-column: 1 / -1;

   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 1fr 1fr;
   gap: var(--flow-gap);
}

.site-header__nav > a {
   display: grid;
   place-items: center;
   position: relative;
}

.site-header__nav > a:hover,
.site-header__nav > a:focus {
   color: var(--primary);
}

.site-header__nav > a::before {
   position: absolute;
   content: '';
   bottom: 0;
   width: 100%;
   height: 5px;

   background-color: var(--primary);

   transform-origin: left;
   transform: scaleX(0);
   transition: transform 200ms ease-in-out, color 500ms linear;
}

.site-header__nav > a:hover::before,
.site-header__nav > a:focus::before {
   transform: scale(1);
}

/**
 *
 * desktop
 *
 */
@media screen and (min-width: 768px) {
   .site-header__nav {
      grid-column: nav;
      grid-row: 1;
   }

   .site-header__nav > a::before {
      top: 0;
      bottom: unset;
   }
}

/*=============================================
=                   sign-in                   =
=============================================*/

.site-header__sign-in {
   grid-column: sign;
   grid-row: 1;

   align-self: center;
   justify-self: end;

   padding-right: var(--padding);
   transition: transform 100ms ease-in-out;
}

.site-header__sign-in:hover,
.site-header__sign-in:focus {
   transform: scale(1.1);
}

/**
 *
 * desktop
 *
 */
@media screen and (min-width: 768px) {
   .site-header__sign-in {
      --padding: 0;
      justify-self: center;
   }
}
