.site-header {
   --padding-block: var(--flow-gap);

   position: sticky;
   top: 0;
   z-index: 1;
   width: 100%;

   padding-block-start: var(--padding-block);
}

.site-header .inner {
   --fix-row: 6.25rem;
   display: grid;
   grid-template-columns: [logo]0.5fr [nav]1fr [sign]0.5fr;
   grid-template-rows: 1fr var(--fix-row);
}

/** logo */
.site-header .logo {
   grid-column: logo;
   align-self: center;

   padding-inline-start: var(--padding);
}

.site-header .logo img {
   object-fit: contain;
}

/** Nav */
.site-header .nav {
   grid-row: 2;
   grid-column: 1 / -1;

   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 1fr 1fr;
}

.site-header .nav > a {
   display: grid;
   place-items: center;

   position: relative;
}

.site-header .nav > a::before {
   animation: border 200ms ease-in-out reverse;

   position: absolute;
   content: '';
   bottom: 0;
   width: 100%;
   height: 5px;
   background-color: var(--primary);

   transform-origin: left;
   transform: scaleX(0);
   transition: transform 200ms ease-in-out, color 500ms linear;
}

.site-header .nav > a:hover::before {
   transform: scale(1);
}

.site-header .nav > a:hover {
   color: var(--primary);
}

/** Sign */
.site-header .sign {
   grid-column: sign;
   align-self: center;
   justify-self: end;

   padding-inline-end: var(--padding);
   transition: transform 100ms ease-in-out;
}

/**
*
* Desktop
*/
@media screen and (min-width: 768px) {
   .site-header {
      --padding-block: 0;
   }

   .site-header .inner {
      display: grid;
      grid-template-columns: [logo]0.5fr [empty]1fr [nav]1fr [sign]0.5fr;
      grid-template-rows: var(--fix-row);
   }

   .site-header .inner > * {
      grid-row: 1 / -1;
   }

   .site-header .nav {
      grid-column: nav;
   }

   .site-header .logo,
   .site-header .sign {
      --padding: 0;
   }

   .site-header .nav > a::before {
      top: 0;
      bottom: unset;
   }
}

/* Hover State */
.site-header .nav > a::before {
   animation: border 200ms ease-in-out reverse;

   position: absolute;
   content: '';
   bottom: 0;
   width: 100%;
   height: 5px;
   background-color: var(--primary);

   transform-origin: left;
   transform: scaleX(0);
   transition: transform 200ms ease-in-out, color 500ms linear;
}

.site-header .nav > a:hover::before,
.site-header .nav > a:focus::before {
   transform: scale(1);
}

.site-header .nav > a:hover,
.site-header .nav > a:focus {
   color: var(--primary);
}

.site-header .sign:hover,
.site-header .sign:focus {
   transform: scale(1.1);
}
