.site-footer {
   padding-block-start: var(--flow-gap);
   padding-block-end: var(--flow-gap);
}

.site-footer .inner {
   display: flex;
   flex-wrap: wrap;
}

.site-footer .inner > * {
   flex: 1;
}
