:root {
   --gap-flow: var(--gap-30, 1.5rem);
   --gap-wrapper: var(--gap-15);
   --height-header: 8.4375rem;

   /* just for info */
   --xs: 576px;
   --md: 768px;
   --lg: 992px;
   --xl: 1200px;
}

@media screen and (min-width: 768px) {
   :root {
      --height-header: 6.25rem;
   }
}

html {
   scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
   html {
      scroll-behavior: auto;
   }
}

body {
   overflow-x: hidden;
   background-color: var(--color-white);
   transition: color 500ms ease, background-color 500ms ease;
}

a {
   color: currentColor;
}

:focus {
   outline: 2px dotted var(--color-primary);
   outline-offset: 0.25rem;
}
