.cards-grid {
   --size-card: 7rem;

   display: grid;
   grid-template-columns: repeat(
      auto-fit,
      minmax(calc(var(--size-card) * 2), 1fr)
   );
   gap: var(--gap-flow, 1.5rem);
   place-content: baseline;
}

.cards-grid[data-flow='row'] {
   grid-template-rows: repeat(3, calc(var(--size-card) + var(--gap-flow)));
   grid-template-columns: 1fr;
}

@media screen and (min-width: 992px) {
   .cards-grid[data-flow='custom'] {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
   }
}
