:root {
   --flow-gap: 1.5rem;

   --xs: 576px;
   --md: 768px;
   --lg: 992px;
   --xl: 1200px;
}

html {
   scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
   html {
      scroll-behavior: auto;
   }
}

body {
   overflow-x: hidden;
   background-color: var(--color-white);
   transition: color 500ms ease, background-color 500ms ease;
}

a {
   color: currentColor;
}

:focus {
   outline: 2px dotted var(--primary);
   outline-offset: 0.25rem;
}
