:root {
   --flow-gap: 1.5rem;

   --xs: 576px;
   --md: 768px;
   --lg: 992px;
   --xl: 1200px;
}

body {
   overflow-x: hidden;
}

a {
   color: currentColor;
}

:focus {
   outline: 2px dotted var(--primary);
   outline-offset: 0.25rem;
}
