/*=============================================
=            Section hebergment            =
=============================================*/

section.hebergement {
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   grid-template-rows: 50vh;
   gap: var(--row-gap);
}
