/*=============================================
=            Section  Search            =
=============================================*/
section.search {
   row-gap: var(--row-gap);
}

/**
 *
 * Header
 *
 */
section.search > header {
   row-gap: 0.875rem;
}

/**
 *
 * Form
 *
 */
section.search > form {
   --input-cell: 1fr;
   --btn-cell: 1.5rem;
   grid-auto-flow: column;
   grid-template-columns:
      3rem [input-start]var(--input-cell) [btn-start]var(--btn-cell)
      [input-end]var(--btn-cell);
   grid-template-rows: 3rem;
}

section.search > form > span {
   border-radius: var(--radius) 0 0 var(--radius);
}

section.search > form > input {
   border: 1px solid var(--background-darker);
   grid-column: input-start / input-end;
   grid-row: 1;
   font-family: 'Railway';
   padding-left: var(--padding-input);
}

section.search > form > button {
   border-radius: var(--radius);
   grid-column: btn-start / -1;
   grid-row: 1;
}

section.search > form > button > span {
   display: none;
   visibility: hidden;
}

/* Desktop Form */
@media screen and (min-width: 43em) {
   section.search > form {
      --input-cell: 20rem;
      --btn-cell: min-content;
   }

   section.search > form > button {
      border-radius: 0 var(--radius) var(--radius) 0;
   }

   section.search > form > button > span {
      display: block;
      visibility: visible;
      padding: 0 1rem;
   }

   section.search > form > button > i {
      display: none;
      visibility: hidden;
   }
}

/**
 *
 * Filtres
 *
 */
article.filters {
   gap: var(--row-gap);
   flex-wrap: wrap;
   align-items: center;
}

article.filters > .btns {
   gap: var(--row-gap);
}

article.filters > .btns > button {
   display: grid;
   grid-template-columns: 0.5rem 2.5rem min-content;
   grid-template-rows: 3rem;
}

article.filters > .btns > button > span:first-child {
   grid-column: 1 / 3;
   grid-row: 1;
   border-radius: 50%;
   width: 100%;
   height: 100%;
   z-index: 1;
}

article.filters > .btns > button > span:last-child {
   grid-column: 2 / 4;
   grid-row: 1 / -1;
   border: 2px solid var(--background-darker);
   padding: 0 1rem 0 3rem;
   white-space: nowrap;
   height: 100%;
   border-radius: 2rem;
}
