:root {
   --primary: #0065fc;
   --primary-lighter: #deebff;
   --color-text: #353030;
   --background: #ffffff;
   --background-darker: #f2f2f2;

   --bold: 'wght' 850;
   --regular: 'wght' 400;

   --font-50: 0.875rem;
   --font-100: 1rem;
   --font-200: 1.063rem;
   --font-300: 1.25rem;
   --font-400: 1.438rem;
   --font-500: 1.625rem;
   --font-600: 1.813rem;
   --font-700: 2rem;
   --font-800: 2.188rem;

   --radius: 0.625rem;
   --padding-input: 2rem;

   /* TODO set a better col gap */
   --col-gap-body: 5%;
   --row-gap: 2rem;
}

/**
*
* * COLORS 
*
*/
.color-text {
   color: var(--color-text);
}
.color-primary {
   color: var(--primary);
}
.color-background {
   color: var(--background);
}

.bg-primary {
   background-color: var(--primary);
}
.bg-background {
   background-color: var(--background);
}
.bg-background-darker {
   background-color: var(--background-darker);
}

/**
 *
 * * FONTS
 *
 */
.bold {
   font-variation-settings: var(--bold);
}
.regular {
   font-variation-settings: var(--regular);
}

/* font size */
.f-50 {
   font-size: var(--font-50);
}
.f-100 {
   font-size: var(--font-100);
}
.f-200 {
   font-size: var(--font-200);
}
.f-300 {
   font-size: var(--font-300);
}
.f-400 {
   font-size: var(--font-400);
}
.f-500 {
   font-size: var(--font-500);
}

/**
 *
 * * LAYOUT
 *
 */

/* Grid */
.grid {
   display: grid;
}
.center-grid {
   display: grid;
   place-items: center;
}

/* Flex */
.flex {
   display: flex;
}

.align-items {
   align-items: center;
}

.justify-content {
   justify-content: center;
}

.center-flex {
   display: flex;
   align-items: center;
   justify-content: center;
}
